@import "../../../styles/vars.scss";

.container {
  margin: 0 30px;
  padding-top: 20px;
  position: relative;
}

.burger {
  position: absolute;
  right: 0;
  top: 20px;
  width: 36px;
  height: 24px;
  z-index: 102;
  overflow: hidden;
  cursor: pointer;
  
  span {
    position: absolute;
    width: 36px;
    height: 2px;
    background-color: #000;
    transition: all .2s ease;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%) translateX(0);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  @media (max-width: 1140px) {
    right: $container-padding-right-mid;
  }

  @media (max-width: 520px) {
    right: $container-padding-right-less;
  }
}

.title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
}

.header {
  font-size: 25px;
  margin-bottom: 30px;

  @media (max-width: 730px) {
    font-size: 18px;
  }
}

.header__list {
  display: flex;
}

.header__item {
  &:not(:last-child) {
    margin-right: 40px;

    @media (max-width: 730px) {
      margin-right: 15px;
    }
  }
  &:hover {
    text-decoration: underline;
  }
}


.main__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;

  @media (max-width: 730px) {
    flex-direction: column-reverse;
    align-items: normal;
  }
}

.article {
  flex-grow: 1;
  flex: 0 0 calc(65% - 15px);
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 2.5px;
  margin-right: 20px;

  @media (max-width: 730px) {
    flex: 0 0 100%;
    margin-right: 0;
  }
}

.article__info {
  max-height: 440px;
  overflow-y: auto;
  margin-bottom: 40px;

  p {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }


  @media (max-width: 730px) {
    max-height: 100%;
  }
}

.article__img {
  height: 350px;
  margin-bottom: 50px;
  border-radius: 3px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}


.aside {
  flex: 0 0 calc(35% - 15px);
  background: rgba(46, 108, 169, 0.43);
  backdrop-filter: blur(10px);
  border-radius: 3px;
  padding: 15px 10px;

  @media (max-width: 730px) {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}

.aside__list {
  @media (max-width: 730px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.aside__item {
  @media (max-width: 730px) {
    flex: 0 0 calc(50% - 10px);
  }

  @media (max-width: 500px) {
    flex: 0 0 calc(100%);
  }

  span {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @media (max-width: 1200px) {
    span {
      display: block;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
  
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.aside__title {
  font-size: 24px;
  font-weight: medium;
  margin-bottom: 10px;
}

.map {
  max-width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.link {
  transition: color .3s ease;

  &:hover {
    color: rgb(56, 109, 255);
  }
}