.container {
  padding: 20px 30px 0 30px;
}

.title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
}

.header {
  font-size: 25px;
  margin-bottom: 30px;

  @media (max-width: 730px) {
    font-size: 18px;
  }
}

.header__list {
  display: flex;
}

.header__item {
  &:not(:last-child) {
    margin-right: 40px;

    @media (max-width: 730px) {
      margin-right: 15px;
    }
  }
  &:hover {
    text-decoration: underline;
  }
}


.main__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 730px) {
    flex-direction: column-reverse;
    align-items: normal;
  }
}

.article {
  flex: 0 0 calc(65% - 15px);
  font-size: 20px;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: 2.5px;
  margin-right: 20px;

  @media (max-width: 730px) {
    flex: 0 0 100%;
    margin-right: 0;
  }
}

.article__info {
  p {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  margin-bottom: 40px;
}

.article__img {
  height: 350px;
  margin-bottom: 50px;
  border-radius: 3px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}


.aside {
  flex: 0 0 calc(35% - 15px);
  background:  rgb(12, 48, 84);
  border-radius: 3px;
  padding: 15px 10px;

  @media (max-width: 730px) {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}

.aside__list {
  @media (max-width: 730px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.aside__item {
  @media (max-width: 730px) {
    flex: 0 0 calc(50% - 10px);
  }

  @media (max-width: 500px) {
    flex: 0 0 calc(100%);
  }

  span {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @media (max-width: 1200px) {
    span {
      display: block;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
  
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.aside__title {
  font-size: 24px;
  font-weight: medium;
  margin-bottom: 10px;
}