@import "../../../../styles/vars.scss";

.category {
  padding-top: 100px;
  padding-bottom: $global-padding-big;

  @media (max-width: 820px) {
    padding-bottom: $global-padding-mid;
  }

  @media (max-width: 510px) {
    padding-bottom: $global-padding-less;
  }
}

.category__title {
  font-size: 30px;
  padding-left: 11px;
  font-weight: 300;
  margin-bottom: 30px;

  &.active {
    color: red;
  }

  span {
    display: block;
    font-size: 12px;
    color: red;
    margin-top: 5px;
  }

  @media (max-width: 820px) {
    font-size: 25px;
  }

  @media (max-width: 520px) {
    font-size: 18px;
  }
}

.category__all-btn {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-bottom: 6px;
  cursor: pointer;
  font-weight: 300;

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background: #fff;
  }

  &:hover {
    color: $hover-color;
  }
  
  &.active {
    color: #2e8eff;
    &::after {
      background: #2e8eff;
    }
  }
}

.category__btn-box {
  text-align: center;
  padding-top: 65px;
}

.category__btn {
  display: inline-block;
  padding: 10px 57px 15px 57px;
}

.compare-error-text {
  color: red;
  margin-top: 10px;
}