$bg-main: #0E1225;
$global-padding-big: 140px;
$global-padding-mid: 90px;
$global-padding-less: 45px;
$container-padding-right-big: 85px;
$container-padding-right-mid: 25px;
$container-padding-right-less: 10px;
