@import "../../../styles/vars.scss";

.footer {
  // background: rgba(11, 15, 31, 0.5);
  border-top: 1px solid #fff;
  background-color: var(--footer-bg);
}

.footer__container {
  padding: 36px $container-padding-right-big 54px $container-padding-right-big;
  @media (max-width: 1140px) {
    padding: 36px $container-padding-right-mid 54px $container-padding-right-mid;
  }
  @media (max-width: 520px) {
    padding: 36px $container-padding-right-less 54px $container-padding-right-less;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  @media (max-width: 820px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__nav {
  margin-right: 20px;

  @media (max-width: 820px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer__list {
  display: flex;
  align-items: center;
}

.footer__item {

  &:not(:last-child) {
    margin-right: 60px;
  }

  @media (max-width: 520px) {
    &:not(:last-child) {
      margin-right: 40px;
    } 
  }
}

.footer__contacts {
  display: flex;
  align-items: center;
}

.footer__contacts-link {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 58px;
  }
}