.feedback-modal {
  background-color: var(--wrapper-modal-bg);
  color: #fff;
}

.feedback-modal-box {
  background-color: rgba(46, 108, 169, 0.2);
  backdrop-filter: blur(30.5769px);
  border-radius: 3px;
  padding: 10px 20px;
  position: relative;
}